---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <div class="flex flex-col items-center">
        <nav class="my-10">
            <a target="speciesFrame" href="/species/Adelie" class="bg-blue-500 text-white rounded px-5 py-2.5 border-b-3 border-r-3 border-blue-700 hover:border-0 transition-all">Adelie</a>
            <a target="speciesFrame" href="/species/Gentoo" class="bg-blue-500 text-white rounded px-5 py-2.5 border-b-3 border-r-3 border-blue-700 hover:border-0 transition-all">Gentoo</a>
            <a target="speciesFrame" href="/species/Chinstrap" class="bg-blue-500 text-white rounded px-5 py-2.5 border-b-3 border-r-3 border-blue-700 hover:border-0 transition-all">Chinstrap</a>
        </nav>
        <iframe name="speciesFrame" id="speciesFrame" src="/species/Adelie" class="border w-full max-w-3xl"></iframe>
    </div>
</Layout>

<script>
    function resizeIframe(iframe:HTMLIFrameElement) {
        try {
            iframe.style.height = (iframe.contentWindow?.document.body.scrollHeight ?? 0 )+ 'px';
        } catch (e) {
        }
    }
    const speciesFrame = document.getElementById("speciesFrame")! as HTMLIFrameElement;
    speciesFrame.addEventListener("load",()=>resizeIframe(speciesFrame))
</script>