---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<Layout>
    <div class="flex flex-col items-center space-y-20 mt-10">
        <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
        <GraphicSpecies species="Chinstrap"/>
    </div>
</Layout>
